{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <title>Document</title>
</head>
<body>
    <DOCTYPE html>

        <div class="container">
        <h1>Inscription</h1>
        
        <form method="POST">
            {% csrf_token %}
        
            
            {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        
        
            {{ form.as_p }}
        
            <button type="submit">S'inscrire</button>
        </form>
    
        
        <p>Déjà inscrit ? <a href="{% url 'connexion' %}">Se connecter</a></p>
    </div>
</body>
</html>