{% load static %}

<!DOCTYPE html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <header>
        <div class="site-name">EYAA Project</div>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="#genomes">Génomes disponibles</a></li>
                <li><a href="#contacts">Contacts</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </nav>
        <button class="connexion-button"><a href="{% url 'connexion' %}">Connexion</a></button>
    </header>
    <main>

    </main>
</body>