{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}EYAA{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="site-name">
                <a href="{% url 'home' %}">EYAA</a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'genome_database' %}">Base de donnée</a></li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <button class="connexion-button">
                {% if user.is_authenticated %}
                    <a href="{% url 'deconnexion' %}">Déconnexion</a>
                {% else %}
                    <a href="{% url 'connexion' %}">Connexion</a>
                {% endif %}
        </header>
        <main>
            <div class="volet">
                <div class ="contenu_volet">
                    <div class = "contenu_titre">
                        <h2>Titre Volet</h2>
                    </div>
                    <div class ="links_volet">
                        <ul>
                            <li><a href="#1">liens1</a></li>
                            <li><a href="#1">liens1</a></li>
                            <li><a href="#1">liens1</a></li>
                            <li><a href="#1">liens1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="button_volet">
                <h1>X</h1>
            </div>
            {% block content %}
            {% endblock %}
        </main>

        <script>
            const menuHamburger = document.querySelector(".button_volet")
            const navLinks = document.querySelector(".volet")
        
            menuHamburger.addEventListener('click',()=>{
            navLinks.classList.toggle('afficher_volet')
            })
        </script>
        <script>
              const menuBtn = document.querySelector('.button_volet')
        
        menuBtn.addEventListener('click', () => {
          menuBtn.classList.toggle('open')
        })
        </script>
    </body>
</html>