{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}EYAA{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="site-name">EYAA</div>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li><a href="#genomes">Génomes disponibles</a></li>
                    <li><a href="{% url 'AnnotationPage' %}">Annotations</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <button class="connexion-button"><a href="{% url 'connexion' %}">Connexion</a></button>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <style>
        a {
            font-size: 16px;
            color: darkslateblue;
            text-decoration: none;
        }
    </style>
</html>
