{% extends "core/base.html" %}
{% load static %}

{% block title %}
Profil - EYAA
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/style_espace_perso.css' %}">

<div class="profile-page">
    <nav class="vertical-menu">
        <ul>
            <li><a href="{% url 'profile_informations' %}" {% if request.resolver_match.url_name == 'profile_informations' %}class="active"{% endif %}>Mes informations</a></li>
            {% if user.role == "annotateur" or user.role == "validateur" %}
            <li><a href="{% url 'profile_annotations' %}" {% if request.resolver_match.url_name == 'profile_annotations' %}class="active"{% endif %}>Mes annotations</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="profile-content">
        {% block profile_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
