{% extends "core/base.html" %}
{% load static %}

{% block title %}
Contacts - EYAA
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
{% endblock %}

{% block content %}
<div class="contacts">
    <ul style="color: rgb(255, 255, 255);">
        <li><a>Emma Le Roy Pardonche</a></li>
        <li><a>Youna Maillié</a></li>
        <li><a>Anne Beigeaud</a></li>
        <li><a>Antoine Loth</a></li>
    </ul>
</div>

{% endblock %}