{% extends "core/base.html" %}
{% load static %}

{% block title %}
Accueil - EYAA
{% endblock %}

{% block content %}
<div class="zone-fonctions">
    <a class="lien_function function_gene_protein_vizu" href="#">
        <div class="filtre">
            <h1>Visualisation</h1>
        </div>
    </a>

    <a class="lien_function function_dna_alignement" href="#">
        <div class="filtre">
            <h1>Extraction de données</h1>
        </div>
    </a>

    <a class="lien_function requete_genome" href="#">
        <div class="filtre">
            <h1>Requêtes génome</h1>
        </div>
    </a>

    <a class="lien_function BD_info" href="#">
        <div class="filtre">
            <h1>Requêtes extérieures </h1>
        </div>
    </a>

    <a class="lien_function list_annotation" href="#">
        <div class="filtre">
            <h1>Annotation</h1>
        </div>
    </a>

    <a class="lien_function validation_annotation" href="#">
        <div class="filtre">
            <h1>Validation Annotation</h1>
        </div>
    </a>
</div>
{% endblock %}
