{% extends "core/base.html" %}
{% load static %}

{% block title %}
Accueil - EYAA
{% endblock %}

{% block content %}
<div class="zone-fonctions">
    <a class="lien_function function_gene_protein_vizu" href="#">
        <div class="filtre">
            <h2>Visualisation</h2>
        </div>
    </a>

    <a class="lien_function function_dna_alignement" href="#">
        <div class="filtre">
            <h2>Extraction des données</h2>
        </div>
    </a>

    <a class="lien_function requete_genome" href="#">
        <div class="filtre">
            <h2>Réaliser requête génome</h2>
        </div>
    </a>

    <a class="lien_function BD_info" href="#">
        <div class="filtre">
            <h2>Accès à la base de données</h2>
        </div>
    </a>

    <a class="lien_function list_annotation" href="#">
        <div class="filtre">
            <h2>Voir les annotations</h2>
        </div>
    </a>

    <a class="lien_function validation_annotation" href="#">
        <div class="filtre">
            <h2>Validation Annotation</h2>
        </div>
    </a>
</div>
{% endblock %}
