{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style_inscription.css' %}">
    <title>Document</title>
</head>
<body>
    <DOCTYPE html>

    <div class="container2">
        <div class="form">
            <h2>Inscription</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Affichage du formulaire -->
                <button type="submit">S'inscrire</button>
            </form>
            <p>Déjà inscrit ? <a href="{% url 'connexion' %}">Se connecter</a></p>
            
    </div>
    </div>
</body>
</html>