{% extends "core/base.html" %}
{% load static %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profil</li>
{% endblock %}


{% block content %}
<div class="zone-fonctions">
    <a class="lien_function profile_informations" href="{% url 'profile_informations' %}">
            <div class="filtre">
                <h2>Mes Informations</h2>
            </div>
    </a>
    <a class="lien_function profile_change_PSWD" href="{% url 'profile_change_PSWD' %}">
            <div class="filtre">
                <h2>Options de connexion</h2>
            </div>
    </a>
    <a class="lien_function profile_annotations" href="{% url 'profile_annotations' %}">
            <div class="filtre">
                <h2>Mes Annotations</h2>
        </div>
    </a>

    <style>
                
        .zone-fonctions{
            margin-top: 15px;
            padding-left: 15%;
            padding-right: 15%;
            display: flex;
            height: 40vh;
            z-index: 0;
            /* transform: translate(-50%,0); */
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
        }

        .lien_function{
            height: 20vh;
            width: 20vw;
            min-height: 100px;
            min-width: 100px;
            cursor: pointer;
            margin: 10px;
            display: flex;
            justify-content: center;  
            align-items: center;     
            float: left;
            background-size: cover;
            background-position: center;
            color: white;
            border-radius: 15px;
            transition: 0.5 ease; 
            background-color: teal;
            text-decoration: none;
            /* transform: scale(1.0); */
            transition: ease-in-out 0.6s;
        }

        .lien_function:hover{
            transform: scale(1.05);
            transition: 0.6s ease;
        }


        .filtre{
            backdrop-filter: blur(0.5px);
            height: 100%;
            width: 100% ;
            background-color: #33333320;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;

        }

        .profile_informations {
            position: relative;
            background-size: cover;
            background-position: center;
            transition: opacity 0.5s ease; 
        }

        .profile_change_PSWD {
            position: relative;
            background-size: cover;
            background-position: center;
            transition: opacity 0.5s ease; 
        }

        .profile_annotations {
            position: relative;
            background-size: cover;
            background-position: center;
            transition: opacity 0.5s ease; 
        }

    </style>
    
</div>
{% endblock %}
