{% extends "core/base.html" %}
{% load static %}

{% block title %}
Accueil - EYAA
{% endblock %}
{% block content %}
<div class="contacts">
    <ul style="color: black;">

        <h1>My Profil</h1>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Nom :</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Rôle :</strong> {{ user.role }}</p>
        {% if user.role == "annotateur" %}
            <p>Ce message (celui ci) s'affiche uniquement si vous êtes annotateur</p>
        {% endif %}
    </ul>
</div>
    {% endblock %}