{% extends "core/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{% url 'annotations_listing' %}">Outil de validation</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ annotation.annotation_id }}</li>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'core/style_validation.css' %}">

    <div class="validation-container">
        <h1>Validation de l'Annotation</h1>

        <div class="annotation-details">
            <h2>Annotation ID : {{ annotation.annotation_id }}</h2>
            <p>Auteur : {{ annotation.annotation_author }} </p>
            <p><strong>Sequence ID :</strong> {{ annotation.sequence.sequence_id }}</p>
            <p><strong>Genome Organism :</strong> {{ annotation.sequence.genome.organism }}</p>
            <p><strong>Texte de l'annotation :</strong><br> 
            {{ annotation.annotation_text }}</p>
            
            <br>
            <h3>ADN :</h3>
            <textarea id="dna_sequence" readonly style="word-wrap: break-word; white-space: normal; background: #f4f4f4; padding: 10px; border-radius: 5px; width: 60%; height: 150px; overflow-y: auto;">
                {{ annotation.sequence.dna_sequence }}
            </textarea>
            <button onclick="copyToClipboard('dna_sequence')">Copier ADN</button>

            <h3>Protéine :</h3>
            <textarea id="protein_sequence" readonly style="word-wrap: break-word; white-space: normal; background: #f4f4f4; padding: 10px; border-radius: 5px; width: 60%; height: 150px;overflow-y: auto;">
                {{ annotation.sequence.aa_sequence }}
            </textarea>
            <button onclick="copyToClipboard('protein_sequence')">Copier Protéine</button>

            <div class="button-container">
                <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" class="link-button" target="_blank">Effectuer un blast</a>
                <a href="https://www.ebi.ac.uk/interpro/search/sequence/" class="link-button" target="_blank">Recherche InterPro</a>
                <a href="https://www.uniprot.org/" class="link-button" target="_blank">Recherche sur UniProt</a>
            </div>

        </div>

        {% if annotation.annotation_author.email != user.email %}

            <div class="validation-actions">
                <h3>Souhaitez-vous valider ou rejeter cette annotation ?</h3>

                <form method="POST">
                    {% csrf_token %}

                    <div class="comment-section">
                        <label for="comment">Commentaire (facultatif en cas de rejet) :</label>
                        <textarea id="comment" name="comment" rows="4" placeholder="Expliquez pourquoi vous rejetez l'annotation (facultatif)"></textarea>
                    </div>
                    
                    <div class="button-group">
                        <button type="submit" name="action" value="validate" class="btn-validate">Valider</button>
                        <button type="submit" name="action" value="reject" class="btn-reject">Rejeter</button>
                    </div>

                </form>
            </div>
        {% else %}
            <h3>En tant que propre annotateur, vous ne pouvez vous-même valider cette annotation.</h3>
        {% endif %}

    </div>
{% endblock %}
