{% extends "core/base.html" %}
{% load static %}

{% block title %}Visualisation - EYAA{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{% url 'genome_database' %}">Base de Données</a></li>

    {% if obj.sequence_id and obj.genome %}
        <li class="breadcrumb-item">
            <a href="{% url 'visualisation' 'genome' obj.genome.genome_id %}">Génome {{ obj.genome.genome_id }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ obj.sequence_id }}</li>

    {% elif obj.annotation_id and obj.sequence and obj.sequence.genome %}
        <li class="breadcrumb-item">
            <a href="{% url 'visualisation' 'genome' obj.sequence.genome.genome_id %}">Génome {{ obj.sequence.genome.genome_id }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'visualisation' 'sequence' obj.sequence.sequence_id %}">Séquence {{ obj.sequence.sequence_id }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ obj.annotation_id }}</li>

    {% endif %}

{% endblock %}


{% block content %}

<!-- lien ajouté dans style.css -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->

<style>
    .status-red {
        color: white !important;
        background-color: red !important;
    }

    .status-orange {
        color: white !important;
        background-color: orange !important;
    }

    .status-yellow {
        color: black !important;
        background-color: yellow !important;
    }

    .status-green {
        color: white !important;
        background-color: green !important;
    }

    .btn-gray {
        background-color: #6c757d !important; 
        color: white !important;
    }
    .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    }
    .link-button {
        background-color: #007BFF;
        color: white;
        padding: 10px 20px;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
    }
    .link-button:hover {
        background-color: #0056b3;
    }
    button {
    background-color: darkgray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: gray;
    }
</style>


<div class="container-fluid mt-4">

    {% if obj_type == "genome" %}

        <h1 class="text-center text-white">Génome : {{ obj.genome_id }}</h1>
        
        <div class="card mb-4">
            <div class="card-header">Détails du génome</div>
            <div class="card-body">
                <p><strong>ID du génome :</strong> {{ obj.genome_id }}</p>
                <p><strong>Organisme :</strong> {{ obj.organism }}</p>
                <p><strong>Type :</strong> {{ obj.get_genome_type_display }}</p>
                <p><strong>Génome annotée :</strong> {% if obj.is_annotated %}Oui{% else %}Non{% endif %}</p>
            </div>
        </div>

        
        <h2 class="text-white">CDS associées</h2>

        <form method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="search" class="form-control" value="{{ search_query }}" placeholder="Rechercher par nom du gène ou peptide">
                <button class="btn btn-secondary" type="submit">Rechercher</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom du gène</th>
                    <th>Position</th>
                    <th>Statut</th>
                    <th>Séquence</th>
                    <th>Annotation</th>
                </tr>
            </thead>
            <tbody>
                {% for seq in page_obj %}
                <tr>
                    <td>{{ seq.sequence_id }}</td>
                    <td>
                        {% if seq.annotation and seq.get_sequence_status_display == "Validée" %}
                            {{ seq.gene_name }}
                        {% else %}
                            <span class="text-muted">Pas disponible</span>
                        {% endif %}
                    </td>
                    <td>{{ seq.sequence_start }} - {{ seq.sequence_stop }}</td>
                    <td class="{% if seq.get_sequence_status_display == 'Non-annotée' %}status-red{% elif seq.get_sequence_status_display == 'Attribuée' %}status-orange{% elif seq.get_sequence_status_display == 'En attente de validation' %}status-yellow{% elif seq.get_sequence_status_display == 'Validée' %}status-green{% endif %}">
                        {{ seq.get_sequence_status_display }}
                    </td>
                    <td>
                        <a href="{% url 'visualisation' obj_type='sequence' obj_id=seq.sequence_id %}" class="btn btn-secondary btn-sm">Informations de la séquence</a>
                    </td>
                    <td>
                        {% if seq.annotation and seq.get_sequence_status_display == "Validée" or seq.get_sequence_status_display == "En attente de validation" %}
                            <a href="{% url 'visualisation' obj_type='annotation' obj_id=seq.annotation.annotation_id %}" class="btn btn-gray btn-sm">Voir l'annotation</a>
                        {% else %}
                            <span class="text-muted">Aucune annotation disponible</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Précédente</a></li>
                {% endif %}
                <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Suivante</a></li>
                {% endif %}
            </ul>
        </nav>

    {% elif obj_type == "sequence" %}

    <h1 class="text-center text-white">Séquence :  {{ obj.sequence_id }}</h1>

        <div class="card mb-4">
            <div class="card-header">Détails</div>
            <div class="card-body">
                <p><strong>ID de la séquence :</strong> {{ obj.sequence_id }}</p>
                <p><strong>Génome associé :</strong> {{ obj.genome.genome_id }}</p>
                <p><strong>Statut :</strong> {{ obj.get_sequence_status_display }}</p>
                <p><strong>Support :</strong> {{ obj.information_support }}</p>
                <p><strong>Brin :</strong> {{ obj.sequence_brin }}</p>
                <p><strong>Longueur :</strong> {{ obj.sequence_length }}</p>
                <p><strong>Nom du gène :</strong> {{ obj.gene_name }}</p>
                <p><strong>Nom du peptide :</strong> {{ obj.peptide_product }}</p>
            </div>
        </div>
        
        <h2 class="text-center text-white">Séquences</h2>

            <h3 class = "text-white">ADN :</h3>
            <textarea id="dna_sequence" readonly style="word-wrap: break-word; white-space: normal; background: #f4f4f4; padding: 10px; border-radius: 5px;width:100%;height: 150px; overflow-y: auto;">
                {{ obj.dna_sequence }}
            </textarea> <br>
            <button onclick="copyToClipboard('dna_sequence')">Copier ADN</button>

            <h3 class = "text-white">Protéine :</h3>
            <textarea id="aa_sequence" readonly style="word-wrap: break-word; white-space: normal; background: #f4f4f4; padding: 10px; border-radius: 5px;width:100%; height: 150px; overflow-y: auto;">
                {{ obj.aa_sequence }}
            </textarea> <br>
            <button onclick="copyToClipboard('aa_sequence')">Copier ADN</button> <br>
            <br>
        
        <a href="{% url 'visualisation' 'genome' obj.genome  %}" class="btn btn-secondary btn-sm">
            Voir le génome
        </a>
        
        {% if obj.annotation %}
            <a href="{% url 'visualisation' 'annotation' obj.annotation.annotation_id %}"  class="btn btn-secondary btn-sm">
                Voir l'annotation
            </a>
        {% endif %}

        <div class="button-container">
            <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" class="link-button" target="_blank">Effectuer un blast</a>
            <a href="https://www.ebi.ac.uk/interpro/search/sequence/ " class="link-button" target="_blank">Recherche InterPro</a>
            <a href="https://www.uniprot.org/" class="link-button" target="_blank">Recherche sur UniProt</a>
        </div>

    {% elif obj_type == "annotation" %}
        <h1 class="text-center text-white">Annotation : {{ obj.annotation_id }}</h1>
        
    
        {% if obj.sequence.get_sequence_status_display != "Validée"%}
            <hr>
            <h2 style="color: darkorange;" >Attention cette annotation n'a pas encore été Validée</h2>
            <hr>
        {% endif%}

        <div class="card mb-4">
            <div class="card-header">Détails</div>
            <div class="card-body">
            <p><strong>ID de l'annotation :</strong> {{ obj.annotation_id }}</p>
            <p><strong>Auteur :</strong> {{ obj.annotation_author }}</p>
            <p><strong>Séquence associée :</strong> {{ obj.sequence.sequence_id }}</p>
            <p><strong>Nom du gène :</strong> {{ obj.sequence.gene_name }}</p>
            <p><strong>Nom du peptide :</strong> {{ obj.sequence.peptide_product }}</p>
            </div>
        </div>

        <h2 class="text-center text-white">Texte de l'annotation</h2>
            <pre style="word-wrap: break-word; white-space: normal; background: #f4f4f4; padding: 10px; border-radius: 5px; overflow-y: auto;">
                {{ obj.annotation_text }}
            </pre>
        

        <a href="{% url 'visualisation' 'genome' obj.sequence.genome  %}" class="btn btn-secondary btn-sm">
            Voir le génome
        </a>
        
            <a href="{% url 'visualisation' 'sequence' obj.sequence%}"  class="btn btn-secondary btn-sm">
                Voir la séquence
            </a>

            <div class="button-container">
                <a href="https://www.ebi.ac.uk/interpro/search/text/" class="link-button" target="_blank">Recherche InterPro</a>
                <a href="https://www.uniprot.org/" class="link-button" target="_blank">Recherche sur UniProt</a>
            </div>

       
    {% else %}
        <p>Type d'objet non reconnu.</p>
    {% endif %}

    <footer>
        <a href="{% url 'genome_database' %}" style="color:white">Retour à la base de données</a>
    </footer>

    <script>
        function copyToClipboard(id) {
            var copyText = document.getElementById(id);

            // Selectionner le texte du textarea
            copyText.select();
            copyText.setSelectionRange(0, 99999); // Pour les appareils mobiles

            // Copier dans le presse-papiers
            navigator.clipboard.writeText(copyText.value).then(function() {
            alert('Séquence copiée dans le presse-papiers');
            }).catch(function(error) {
            console.error('Erreur lors de la copie dans le presse-papiers: ', error);
            });
        }
    </script>

{% endblock %}
