.attribution-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.sequence-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.sequence-details h2 {
    font-size: 20px;
    color: darkslateblue;
}

.sequence-details p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.attribution-actions {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.attribution-actions h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn-validate {
    background-color: #28a745;
    color: white;
}

.btn-validate:hover {
    background-color: #218838;
}

.btn-reject {
    background-color: #dc3545;
    color: white;
}

.btn-reject:hover {
    background-color: #c82333;
}

.comment-section {
    margin-top: 20px;
}

textarea {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #0056b3;
}

button[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    height: 5%;
    align-self: center;
    height: fit-content;
}

button[type="submit"]:hover {
    background-color: green;
}
