body, html {
    margin: 0;
    padding: 0;
    font-family: Avantgarde, sans-serif;
    height: 100vh;
    background: rgb(97,81,153);
    background-image: url("../images/hero-bg.jpg ");
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    backdrop-filter: blur(1px);
    height: 70px; 
}


.site-name {
    margin-right: auto; 
    display: flex;
    align-items: center; 
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Audiowide", serif;
    text-transform: uppercase;
}

.site-name a {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Audiowide", serif;
    text-transform: uppercase;
    text-decoration: none;
}


.menu {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px; 
}

.connexion-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.connexion-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: darkcyan;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.connexion-button a:hover {
    background-color: teal;
}

/* Volet */
.button_volet {
    color: white;
    position: absolute;
    top: 50%;
    left: 3%;
    cursor: pointer;
    z-index: 3;
}

.volet {
    backdrop-filter: blur(1px);
    background-color: #0b469863;
    box-shadow: black 0 0 10px;
    bottom: 0vh;
    left: 0;
    position: absolute;
    width: 30%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30%;
    transition: all 0.5s ease;
    z-index: 2;
    position: fixed;
}

.contenu_titre h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: none;
}

.afficher_volet {
    margin-left: 0; 
}

.contenu_volet {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links_volet {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links_volet ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    height: 100%;
}

.links_volet li {
    width: 100%; 
    text-align: center; 
}

.links_volet a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.links_volet a:hover {
    color: white;
    text-shadow: white 0 0 1px;
    transform: scale(1.05);
}

.menu a { 
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu a:hover {
    text-decoration: underline;
}

.bx {
    font-size: 1.5em;
    color: white;
}

.connexion-button {
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
}

.connexion-button:hover {
    background-color: teal;
}

.connexion-button a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.connexion-button a:hover{
    color: white;
    text-decoration: none;
}

.contacts ul {
    text-align: center;
    list-style: none;
}

.contacts li {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.main-content {
    display: flex;
    margin: 20px;
    gap: 20px;
}


.database-section {
    flex: 3;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.filter-menu {
    position: static;
    top: 160px;
    right: 20px;
    width: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow-y: auto;
}

.filter-menu h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.filter-menu h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: darkslateblue;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.filter-menu h4 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: darkcyan;
}

.filter-menu label {
    font-size: 0.9em;
    display: block;
    margin: 10px 0;
}

.filter-menu input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-menu input[type="checkbox"] {
    margin-right: 10px;
}

.filter-menu button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-menu button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}


.filter-menu button:hover {
    background-color: teal;
}


/* Container pour la barre de recherche */
.search-bar-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #0056b3;
}


/* Conteneur pour les résultats */
.database-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Carte pour chaque séquence */
.sequence-card {
    background-color: white;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.sequence-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.sequence-card p {
    margin: 10px 0;
    font-size: 1em;
    color: black;
}

.sequence-card p strong {
    color: darkslateblue;
}

.visualisation-access-button {
    display: block;
    text-align: center;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.visualisation-access-button:hover {
    background-color: teal;
}

/* Message "Aucun résultat" */
.database-container p {
    font-size: 1.2em;
    color: darkred;
    text-align: center;
    margin-top: 20px;
}

.zone-fonctions{
    margin-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    height: 40vh;
    z-index: 0;
    /* transform: translate(-50%,0); */
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}


.lien_function{
    height: 20vh;
    width: 20vw;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: center;  
    align-items: center;     
    float: left;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 15px;
    transition: 0.5 ease; 
    background-color: orange;
    text-decoration: none;
    /* transform: scale(1.0); */
    transition: ease-in-out 0.6s;
}

.lien_function:hover{
    transform: scale(1.05);
    transition: 0.6s ease;
}



.filtre{
    backdrop-filter: blur(0.5px);
    height: 100%;
    width: 100% ;
    background-color: #33333320;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

h2{
    text-shadow: black 0 0 3px;
    text-align: center;
    font-size: 15px;
}

.cours1{
    background-color: orange;
}

/* Images des fonctionnalités */

.fonction_visualiser_genome {
    position: relative;
    background-image: url("../images/dna_function.png");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}

.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}

.function_dna_alignement {
    position: relative;
    background-image: url("../images/gene_protein_alignment.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}
.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}

.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}
.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}

.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}
.function_gene_protein_vizu {
    position: relative;
    background-image: url("../images/gene_dna_visualization.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
}