.annoter-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.sequence-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.sequence-details h2 {
    font-size: 20px;
    color: darkslateblue;
}

.sequence-details p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.annotation-actions {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.annotation-actions h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


textarea {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #0056b3;
}

button {
    background-color: darkgray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.link-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
.link-button:hover {
    background-color: #0056b3;
}

